@import "tailwindcss";

@import "../components/aspect-ui/aspect-ui.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--accent: hsl(41, 86%, 61%);
	--accent-foreground: hsl(41, 30%, 15%);
	--gradient: rgba(15, 131, 151, 0.25);
}

.dark {
	--accent-foreground: hsl(41, 76%, 90%);
	--gradient: rgba(22, 184, 212, 0.25);
}

@theme {
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-gradient: var(--gradient);
}

.bg-gradient {
	background: radial-gradient(
			ellipse 80% 60% at 50% 0%,
			var(--color-gradient),
			transparent 70%
		),
		var(--color-bg-dark);
}

input:-internal-autofill-selected{
	background-color: inherit !important;
}